name: Waka Readme

on:
  schedule:
    - cron: '59 11 * * 1-5'
  workflow_dispatch:

permissions:
  contents: write  

jobs:
  update-readme:
    name: Update Readme with WakaTime Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_OS: "True"
          SHOW_PROJECTS: "True"
          SHOW_DAYS_OF_WEEK: "False"
          SHOW_LANGUAGE: "False"
          SHOW_LANGUAGE_PER_REPO: "False"
          IGNORED_REPOS: "vietbui1999ru"
          SYMBOL_VERSION: "3"
          SHOW_TIMELINE: "False"
